<h2>Settings</h2>
<div class="settings-content">
  
  <%= form_with model: @collection, :method => :put do |form|  %>
    <% collection = @collection %>
    <!-- SITE CONFIG SETTINGS -->
    <%= form.fields_for "settings[collection]", collection.settings(:collection) do |f| %>
      <div class="card mb-3 mt-3">
        <div class="card-header">Site configuration</div>
        <div class="card-body">
          <%= f.label :name, "Site Name" %>
          <%= f.text_field :name %>
        </div>
      </div>
    <% end %>

    <div class="card mb-3">
      <div class="card-header">Hours of Operation</div>
      <div class="card-body">
        <%= link_to 'Edit Open Hours', open_hours_path %><br />
        <%= link_to 'Edit Closed Hours', closed_hours_path %>
      </div>
    </div>

    <%= form.fields_for "settings[self_serve]",  collection.settings(:self_serve) do |f| %>

      <div class="card mb-3">
        <div class="card-header">Self-serve settings</div>
        <div class="card-body">
          <%= f.label :allow, "Allow self serve?" %>
          <%= f.check_box :allow %><br />
          <%= f.label :max_length, "Maximum self serve booking length (hrs)"%>
          <%= f.text_field :max_length %><br />
          <%= f.label :enforce_dept, 
                      "Only allow valid departments to use self-serve?" %>
          <%= f.check_box :enforce_dept %>
        </div>
      </div>
    <% end %>

    <%= form.fields_for "settings[validation]", collection.settings(:validation) do |f| %>
      <div class="card mb-3">
        <div class="card-header">Validation settings</div>
        <div class="card-body">
          <%= f.label :watiam, 
            "Only allow valid WatIAM IDs to create bookings?" %>
          <%= f.check_box :watiam %><br />
          <%= f.label :departments,
            "Users from these departments should be marked as valid. Separate each department with a pipe character (|):" %>
          <%= f.text_field :departments %>
        </div>
      </div>
    <% end %>

    <%= form.fields_for "settings[email]", collection.settings(:email) do |f| %>
      <div class="card mb-3">
        <div class="card-header">Validation settings</div>
        <div class="card-body">
          <%= f.label :from_address, "Address to send email from" %>
          <%= f.text_field :from_address %><br />
          <%= f.label :template_booking_from, "Name of group sending email" %>
          <%= f.text_field :template_booking_from %><br />
          <%= f.label :template_salutation, "Salutation at end of message" %>
          <%= f.text_field :template_salutation %><br />
          <hr />
          Send email on the following administrator actions:<br />
          <%= f.label :on_sign_in, "Sign in" %>
          <%= f.check_box :on_sign_in %><br />
          <%= f.label :on_sign_out, "Sign out" %>
          <%= f.check_box :on_sign_out %><br />
          <%= f.label :on_booking, "Booking" %>
          <%= f.check_box :on_booking %><br />
          <%= f.label :on_approval, "Approval" %>
          <%= f.check_box :on_approval %><br />
          <%= f.label :on_rejection, "Rejection" %>
          <%= f.check_box :on_rejection %><br />
          <%= f.label :on_booking_edit, "Booking Edit" %>
          <%= f.check_box :on_booking_edit %><br />
          <%= f.label :on_booking_delete, "Booking Delete" %>
          <%= f.check_box :on_booking_delete %><br />
          Send email on the following self-serve actions<br />
          <%= f.label :on_self_serve_booking, "Self Serve Booking" %>
          <%= f.check_box :on_self_serve_booking %><br />
          <%= f.label :on_self_serve_edit, "Self Serve Edit" %>
          <%= f.check_box :on_self_serve_edit %><br />
          <%= f.label :on_self_serve_delete, "Self Serve Delete" %>
          <%= f.check_box :on_self_serve_delete %><br />
          
          

        </div>
      </div>
    <% end %>

    <%= form.submit "Save" %>


  <% end %>

</div>