<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% collection = Collection.first %>
    Hi <%= @user.username %>,
    <p>
      This email confirms that you returned the following equipment to <%= collection.settings(:email).template_booking_from %>:
      <ul>
        <% @eq_ids.each do |e| %>
          <li><%= Equipment.find(e).name %></li>
        <% end %>
      </ul>
      <p>Thank you,</p>
      <p><%= collection.settings(:email).template_salutation %></p>
  </body>
</html>
