<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% collection = Collection.first%>
    Hi <%= @user.username %>,
    <p>
      You made changes to your reservation of the following equipment from <%= collection.settings(:email).template_booking_from %>:
      <ul>
        <% @booking.equipment.each do |e| %>
          <li><%= e.name %></li>
        <% end %>
      </ul>
      For the following dates and times:
      <ul>
        <% @booking.events.each do |e| %>
          <li><%= e.start.localtime.strftime("%B %d, %Y at %I:%M %p") %> to <%= e.end.localtime.strftime("%B %d, %Y at %I:%M %p") %></li>
        <% end %>
      </ul>
    </p>
    <p>
      Your changes must be reviewed and approved by an administrator. You will receive email notification when this reservation is approved or rejected.
    </p>

    <p>If there are mistakes in the booking, or if you did not book this equipment, please let us know by replying to this email. Thank you.</p>
    <p><%= collection.settings(:email).template_booking_from %></p>
  </body>
</html>