<template>
  <div>
    <!-- Quick actions -->
    <div class="row mt-3">
      <div class="col">
        Quick actions: 
        <a href="./bookings/new" role="button" class="btn btn-primary"><i class="fas fa-calendar-plus"></i> New Reservation</a>
        <a href="./bookings/calendar" role="button" class="btn btn-primary"><i class="fas fa-calendar-alt"></i> Go to Calendar</a>
      </div>  
    </div>

    <!-- Panels -->
    <div class="row mt-3">
      <div class="col-6">
        <div class="card mb-3">
          <div class="card-header">
            Overdue Bookings 
            <span class="badge bg-secondary float-end">
              {{overdue_bookings.length}}
            </span>
          </div>
          <ul v-if="overdue_bookings.length > 0" class="list-group">
            <li class="list-group-item" v-for="booking in overdue_bookings" :key="booking.id">
              <a :href="'./bookings/' + booking.id">
                {{ booking.user.username }}
              </a>
              <button type="button" class="btn btn-sm" data-bs-toggle="collapse" :data-bs-target="'#collapseOD'+booking.id">
                <i class="fas fa-chevron-down float-right" ></i>
              </button>
              <div class="collapse" :id="'collapseOD' + booking.id">
                <div v-if="booking.equipment.length > 0">
                  <i class="fas fa-tools"></i> <span>{{ booking.equipment.map(e => e.name).join(", ") }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-3">
          <div class="card-header">
            Awaiting Approval
            <span class="badge bg-secondary float-end">
              {{awaiting_approval.length}}
            </span>
          </div>
          <ul v-if=" awaiting_approval.length > 0" class="list-group">
            <li class="list-group-item" v-for="booking in  awaiting_approval" :key="booking.id">
              <a :key="booking.id" :href="'./bookings/' + booking.id"  >
                {{ booking.user.username }}
              </a>
              <button type="button" class="btn btn-sm" data-bs-toggle="collapse" :data-bs-toggle="'#collapseAA'+booking.id">
                <i class="fas fa-chevron-down float-right" ></i>
              </button>
              <div class="collapse" :id="'collapseAA' + booking.id">
                <div v-if="booking.equipment.length > 0">
                  <i class="fas fa-tools"></i> <span>{{ booking.equipment.map(e => e.name).join(", ") }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-3">
          <div class="card-header">
            Upcoming Bookings
            <span class="badge bg-secondary float-end">
              {{upcoming_events.length}}
            </span>
          </div>
          <ul v-if="upcoming_events.length > 0" class="list-group">
            <li :key="booking.id" v-for="booking in upcoming_events" class="list-group-item">
              <a :href="'./bookings/' + booking.id">
                {{ booking.user.username }}
              </a>
              <button type="button" class="btn btn-sm" data-bs-toggle="collapse" :data-bs-toggle="'#collapseUB'+booking.id">
                <i class="fas fa-chevron-down float-right" ></i>
              </button>
              <div class="collapse" :id="'collapseUB' + booking.id">
                <div v-if="booking.equipment.length > 0">
                  <i class="fas fa-tools"></i> <span>{{ booking.equipment.map(e => e.name).join(", ") }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-3">
          <div class="card-header">
            Upcoming Returns
            <span class="badge bg-secondary float-end">
              {{upcoming_returns.length}}
            </span>
          </div>
          <ul v-if="upcoming_returns.length > 0" class="list-group">
            <li v-for="booking in upcoming_returns" class="list-group-item" :key="booking.id" >
              <a :href="'./bookings/' + booking.id"  >
                {{ booking.user.username }}
              </a>
              <button type="button" class="btn btn-sm" data-bs-toggle="collapse" :data-bs-toggle="'#collapseUR'+booking.id">
                <i class="fas fa-chevron-down float-right" ></i>
              </button>
              <div class="collapse" :id="'collapseUR' + booking.id">
                <div v-if="booking.equipment.length > 0">
                  <i class="fas fa-tools"></i> <span>{{ booking.equipment.map(e => e.name).join(", ") }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'main-dashboard',
  data() {
    return {
      overdue_bookings: [],
      upcoming_returns: [],
      upcoming_events: [],
      awaiting_approval: [],
      overdue_bookings_complete: false,
      upcoming_returns_complete: false,
      upcoming_events_complete: false,
      awaiting_approval_complete: false,
    }
  },
  mounted() {
    var self = this;
    var pathname = window.location.pathname;
    pathname += pathname.endsWith("/") ? "" : "/";

    self.url_root = window.location.origin + window.location.pathname;
    // fetch overdue bookings and populate data
    axios.get(`./bookings/overdue`)
    .then(function(response){
      self.overdue_bookings = response.data;
      self.overdue_bookings_complete = true;
    });

    // fetch upcoming returns and populate data
    axios.get(`./bookings/upcoming_returns`)
    .then(function(response){
      self.upcoming_returns = response.data;
      self.upcoming_returns_complete = true;
    });

    // fetch upcoming bookings and populate data
    axios.get(`./bookings/upcoming`)
    .then(function(response){
      self.upcoming_events = response.data;
      self.upcoming_events_complete = true;
    });

    // fetch bookings awaiting approval and populate data
    axios.get(`./bookings/approvals`)
    .then(function(response){
      self.awaiting_approval = response.data;
      self.awaiting_approval_complete = true;
    });
  }

}
</script>

<style scoped>
  .list-group {
    max-height: 300px;
    overflow-y:scroll;
  }
</style>