<%= form_for(@equipment) do |f| %>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <% equip_name = @equipment.name.nil? ? "" : @equipment.name %>
        <label for="equip_name">Name</label>
        <%= f.text_field :name, :class => 'search form-control', :value => equip_name, :placeholder => 'Name of resource', :id => 'equip_name' %>
      </div>
      <div class="mb-3">
        <label for="equip_barcode">Barcode</label>
        <%= f.text_field :barcode, :class => 'form-control', :id => 'equip_barcode' %>
      </div>
      <div class="mb-3">
        <label for="equip_tags">Tags</label>
        <div class="tag-list">
          <%= f.collection_check_boxes :tags, Tag.all.order(:name), :id, :name, checked: @equipment.tags.map(&:id), class: 'form-control', id: 'equip_tags' do |b| %>
            <div>
              <%= b.label(class: "check_box") do %>
                <%= b.check_box(class: "check_box") %>
                <%= b.object.name %><br />
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
      <div class="mb-3">
        <label for="equip_serial">Serial Number</label>
        <%= f.text_field :serial_number, class: 'form-control', id: 'equip_serial' %>
      </div>
      <div class="mb-3">
        <label for="equip_stored">Stored</label>
        <%= f.text_field :stored, class: 'form-control', id: "equip_stored" %>
      </div>
      <div class="mb-3">
        <label for="equip_status">Status</label>
        <%= f.select :status, options_for_select(Equipment.valid_statuses, @equipment.status), class: 'form-control', id:"equip_status" %>
      </div>
      <div class="mb-3">
        <label for="equip_contents">Contents</label>
        <%= f.text_area :contents, class: 'form-control', id: "equip_contents" %>
      </div>
    </div>
  </div>

  <!-- button row -->
  <div class="row">
    <div class="col">
      <% if @equipment.new_record? %>
        <%= button_tag(type: 'submit', id: "submitEquipment", class: "btn btn-primary") do %>
          Create
        <% end %>
        <button class="btn btn-secondary">Cancel</button>
      <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Update
        <% end %>
        <%= link_to 'Delete', @equipment, confirm: 'Are you sure? This cannot be undone.', method: :delete, :class => 'btn btn-danger' %>
        <button class="btn btn-secondary">Cancel</button>
      <% end %>
    </div>
  </div>
<% end %>
