<%= vite_client_tag %>
<%= vite_javascript_tag "equipment_list" %>
<main id="equipment_list">

<h2>Resource List</h2>

<!-- filter list -->
<div class="row equipment-toolbar">
  <div class="col">
    <a href="./equipment/download.xlsx" class="btn btn-secondary">Download Excel</a>
  </div>
  
  <div class="col">
    <form action="./equipment" method="get">
      
      <div class="btn-toolbar" role="toolbar">
        <!-- Tag dropdown -->
        <div class="btn-group" role="group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="tagFilterButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tags
          </button>

          <div class="dropdown-menu scrollable-menu" aria-labelledby="tagFilterButton">
            <% Tag.all.order(:name).each do |tag| %>
              <div class="form-check ml-2">
                <% 
                if params.has_key?(:tag_ids)
                  if params[:tag_ids].include?(tag.id.to_s)
                    is_checked = true
                  else
                    is_checked = false
                  end
                else
                  is_checked = false
                end
                %>
                <%= check_box_tag "tag_ids[]", tag.id, is_checked , class: "form-check-input" %>
                <label class="form-check-label">
                  <%= tag.name %>
                </label>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Availability -->
        <div class="btn-group mr-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="availabilityFilterButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Availability
          </button>
          <div class="dropdown-menu" aria-labelledby="availabilityFilterButton">
            <span id="availability">
              <div class="dropdown-item">
                <label for="start_date">Start Date</label>
                <%= date_field_tag(:start_date, params[:start_date], class: "form-control ml-2")%>
              </div>
              <div class="dropdown-item">
                <% st_value = params[:start_time].present? ? params[:start_time] : "" %>
                <label for="start_time">Start Time</label>
                <input class="form-control ml-2" type="time" id="start_time" name="start_time" value=<%= st_value %>>
              </div>
              <div class="dropdown-item">
                <label for="end_date">End Date</label>
                <%= date_field_tag(:end_date, params[:end_date], class: "form-control ml-2")%>
              </div>
              <div class="dropdown-item">
                <% et_value = params[:end_time].present? ? params[:end_time] : "" %>
                <label for="end_time">End Time</label>
                <input class="form-control ml-2" type="time" id="end_time" name="end_time" value=<%= et_value %>>
              </div>
            </span>
          </div>
        </div>

        <!-- search -->
        <div class="input-group">
          <%= text_field_tag "search_term", params[:search_term], class: "form-control mr-2", id: "search_all", placeholder: "barcode or name" %>
        </div>

        <!-- Buttons -->
        <button class="btn btn-primary mr-2" type="submit" id="applySearchFilters">
          Apply Filters
        </button>



      </div>
    </form>
  </div>
</div>

<div class="form-row mt-3">
<!-- tag filter -->
<% if params[:tag_ids].present? %>
  <button id="tag_filter" class="btn btn-outline-info btn-sm mr-2">
    Tags: <%= Tag.where(:id => params[:tag_ids]).pluck(:name).join(", ") %> x
  </button>
<% end %>

<!-- availability filter -->
<% if params[:start_date].present? &&
      params[:end_date].present? &&
      params[:start_time].present? &&
      params[:end_time].present? %>

  <button id="availability_filter" class="btn btn-outline-info btn-sm mr-2">
    <%= "Availability: #{params[:start_date]} #{params[:start_time]} to #{params[:end_date]} #{params[:end_time]} x" %>
  </button>

<% end %>

<!-- search filter -->
<% if params[:search_term].present? %>
  <button id="search_filter" class="btn btn-outline-info btn-sm mr-2">
    <%= "Search term: #{params[:search_term]} x"%>
  </button>
<% end %>
</div>


<div class="form-row mt-3">
<% if @equipment.total_entries != Equipment.all.count %>
  Results matching filters: <%= @equipment.total_entries %> of <%= Equipment.all.count %>
<% else %>
  Equipment count: <%= @equipment.total_entries %>
<% end %>
</div>

<div class="row mt-3">
    <div class="col">
      <ul class="list-group">
      <% @equipment.each do |equipment| %>
        <li class="list-group-item" v-for="equipment in equipment_list" :key="equipment.id">      
          <div class="row">
            <div class="col-6">
              <%= equipment.name %>
            </div>

            <div class="col-3">
              <% equipment.tags.each do |tag| %>
                <div>
                  <small><i class="fas fa-tag"></i> <%= tag.name %></small>
                </div>
              <% end %>
            </div>
          
          <div class="col-3">
            <span class="btn-group">
              <%= button_to equipment, method: :get, class: "btn btn-outline-secondary"   do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= button_to edit_equipment_path(equipment), method: :get, class: "btn btn-outline-secondary"  do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= button_to equipment, confirm: 'Are you sure?', method: :delete, class: "btn btn-outline-secondary" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </span>
          </div>
        </div>
        
        <small><i class="fas fa-barcode"></i> <%= equipment.barcode %></small>
      
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="flickr_pagination">
    <%= will_paginate @equipment %>
  </div>
</div>


</main>