<p id="notice"><%= notice %></p>

<p>
  <b>Barcode:</b>
  <%= @equipment.barcode %>
</p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Stored:</b>
  <%= @equipment.stored %>
</p>

<p>
  <b>Status:</b>
  <%= @equipment.status %>
</p>

        <hr />
        <%= link_to "Click for summary statistics", equipment_summary_view_path(@equipment) %>
        <hr />
        <h6>Booking History</h6>
        <div class="history-equip list-group">
          <% @equipment.bookings.each do |booking| %>
            <%= render partial: 'bookings/summary_row', locals: {booking: booking, view: 'admin'} %></li>
          <% end %>
        </div>
    </div>
  </div>
    


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
