<% equip = Equipment.find(equip_id) %>

<%= equip.name %>

<% if !booking_exists or booking_exists != 'true' %>
	<a onclick="$('#<%= equip_id %>').trigger('click');" class="label radius alert right remove"><i class="fas fa-times"></i></a>
	<span class="round secondary label right">Booking</span>
<% else %>
	<% @booking = Booking.find(booking_id) %>
	<% item_status = @booking.get_item_status(equip.id) %>
	<% if !@booking.sign_out_times.key?(equip.id) %>
		<a onclick="$('#<%= equip_id %>').trigger('click');" class="label radius alert right remove"><i class="fas fa-times"></i></a>
	<% end %>
	<% if item_status == "Booked" %>
		<%= hidden_field_tag "booking[sign_out_ids][]", nil, {:data => equip.id, :class => "scannable", :id => "bc_out_#{equip.barcode}"}%>
		<span id="status_<%= equip.barcode %>" class="round right secondary label"><%= item_status %></span>
	<% elsif item_status == "Out for Repair" %>
		<span id="status_<%= equip.barcode %>" class="round right warning label"><%= item_status %></span>
	<% elsif item_status == "Out" %>
		<%= hidden_field_tag "booking[sign_in_ids][]", nil, {:data => equip.id, :class => "scannable", :id => "bc_in_#{equip.barcode}"}%>
		<span id="status_<%= equip.barcode %>" class="right label"><%= item_status %></span>
		Out at <%= @booking.sign_out_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %>
	<% elsif item_status == "In" %>
		<span id="status_<%= equip.barcode %>" class="round right success label"><%= item_status %></span>
		In at <%= @booking.sign_in_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %>
	<% elsif item_status == "Overdue" %>
		<%= hidden_field_tag "booking[sign_in_ids][]", nil, {:data => equip.id, :class => "scannable", :id => "bc_in_#{equip.barcode}"}%>
		<span id="status_<%= equip.barcode %>" class="round right alert label">Overdue</span>
		<div class="booking-timestamp">Out at <%= @booking.sign_out_times[equip.id].strftime("%b %-d, %Y %I:%M %p") %></div>
	<% end %>
<% end %>



<%= hidden_field_tag "booking[equipment_ids][]", equip.id %>
