<%= content_tag :li, class: "list-group-item", style: "background: #{ booking.get_active_status_colour }44;" do %>
      <div class="row">
        <div class="col-9">
          <% if booking.events.nil? || booking.events.length == 0 %>
            <i>No events</i>
          <% else %>
            <span><i class="far fa-clock"></i> <%= booking.events.first.start.strftime('%F %I:%M %p') %></span>
            <div><i class="far fa-user"></i> <%= booking.user.username  %></div>
          <% end %>
        </div>
        <div class="col-3">
          <div class="btn-group" role="group">
            <%= button_to booking, method: :get, class: "btn btn-outline-secondary", title: "Show"   do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= button_to edit_booking_path(booking), method: :get, class: "btn btn-outline-secondary", title: "Edit"  do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to booking, confirm: 'Are you sure?', method: :delete, class: "btn btn-outline-secondary", title: "Delete" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="fas fa-briefcase"></i> <%= booking.equipment.map{ |e| e.name }.join(", ") %>
        </div>
      </div>
    <% end %>