<div class='approvals-container'>
<div id="spinner"></div>
<h1>Approve bookings</h1>
<p><%= @bookings.count %> bookings pending.</p>
<% @bookings.each do |booking| %>

  <%= render partial: 'bookings/summary_row', locals: {booking: booking, view: 'approval'} %></li>

<% end %>
</div>

