<main id="booking_list">
<h2>Reservation List</h2>
<%= form_with(url: "./bookings", method: "get", class: "") do %>
  <div class="row">
    <div class="col">
      <% if User.find_by_username(session[:current_username]).admin? %>
            <%= text_field_tag(
              :user_search, 
              params[:user_search], 
              {
                class: "form-control",
                placeholder: "Search by username"
              }
            ) %>
      <% end %>
    </div>
    <div class="col">
      <%= select_tag(
        :sort_order,
        options_for_select(
          [
            ["Start Date: Newest to Oldest", "sd_no" ],
            ["Start Date: Oldest to Newest", "sd_on" ],
            ["End Date: Newest to Oldest", "ed_no" ],
            ["End Date: Oldest to Newest", "ed_on" ],
          ],
          params[:sort_order]
        ),
        class: "form-select"
      ) %>
    </div>
    <div class="col-1">
      <%= submit_tag("Update", class: "form-control") %>
    </div>
  </div>
<% end %>
  <div class="row mt-3">
    <div class="col">
      <div id="legendAccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Show Colour Key
            </button>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#legendAccordion">
            <div class="card-body">
              <ul style="list-style-type: none;">
                <li>
                  <i class="fas fa-square" style="color: #d8b3e344"></i>
                  Upcoming
                </li>
                <li>
                  <i class="fas fa-square" style="color: #76bcc444"></i>
                  Active
                </li>
                <li>
                  <i class="fas fa-square" style="color: #ff7c7c44"></i>
                  Overdue
                </li>
                <li>
                  <i class="fas fa-square" style="color: #d2d2d244"></i>
                  Awaiting Approval
                </li>
                <li>
                  <i class="fas fa-square" style="color: #ff450044"></i>
                  Rejected
                </li>
                <li>
                  <i class="fas fa-square" style="color: #b2e59344"></i>
                  Finished
                </li>
              <ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group mt-3">
    
    <% @bookings.each do |booking| %>
      <%= render partial: 'bookings/summary_row', locals: {booking: booking, view: 'admin'} %></li>

    <% end %>
  </ul>

  <div class="flickr_pagination">
    <%= will_paginate @bookings %>
  </div>
</main>