<div class="row mt-3">
  <div class="col">
    <div class="card">
      <div class="card-header">User Details</div>
      <div class="card-body">
        <p>
          <b>Username:</b>
          <%= @user.username %>
        </p>

        <p>
          <b>Admin:</b>
          <%= @user.admin %>
        </p>

        <p>
          <b>Status:</b>
          <%= @user.status %>
        </p>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back to Users List', users_path %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">
        Booking History
      </div>
      <div class="card-body">
        <%= link_to 'Sort Oldest First', user_path(@user, sort_direction: :sd_on) %>
        <%= link_to 'Sort Newest First', user_path(@user, sort_direction: :sd_no) %>
        <div class="history list-group">
          <%# Handle sort %>
          <% if params[:sort_direction] == "sd_on"
            bookings = @user.bookings.joins(:events).merge(Event.order(start: :asc)).limit(10)
          else
            bookings = @user.bookings.joins(:events).merge(Event.order(start: :desc)).limit(10)
          end %>
          <% bookings.each do |booking| %>
          <%= render partial: 'bookings/summary_row', locals: {booking: booking, view: 'admin'} %></li>
          <% end %>

          <%# If more than 10 items, show a link to bookings list %>

          <% if @user.bookings.joins(:events).merge(Event.order(start: :asc)).count > 10 %>
            <%= link_to "Show all bookings for #{@user.username}", bookings_path({user_search: @user.username, sort_order: params[:sort_direction]}) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- history -->