<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= Collection.first.settings(:collection).name %></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <i class="fas fa-sign-out-alt" style="color: white"></i>
          <%= link_to "Log out #{ session[:current_username]}", auth_logout_url, style: "color: white" %>
        </li>
      </ul>
    
    </div>
  </div>

</nav>
  <div class="uw-colour-bar">
    <div class="uw-colour-bar-1"></div>
    <div class="uw-colour-bar-2"></div>
    <div class="uw-colour-bar-3"></div>
    <div class="uw-colour-bar-4"></div>
  </div>
