<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
        <h1><a href="#">MAD Equipment Booking Self-Serve</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
        <li><%= link_to "Create Booking", selfserve_path %></li>
        <li><%= link_to "My Bookings", user_history_path %></li>
        <li>
            <%= link_to auth_logout_path, :class => 'logout-button' do %>
                <i class="fas fa-sign-out-alt"></i>
                <span>Log out <%= session[:current_username] %> </span>
            <% end %>
        </li>
        </ul>
    </section>
</nav>

