<ul class="list tags">
	<% Tag.all.order(:name).includes(:equipment).each do |tag| %>
		<li data-tag-id='<%= tag.id.to_s %>'>
			<span class="right radius secondary label tag-count"><%= tag.equipment.length.to_s %></span><span class="name"><%= tag.name %></span>
			<% if allow_edits %>
				<i class="fas fa-edit"></i>
			<% end %>
		</li>
	<% end %>
</ul>
