<p id="notice"><%= notice %></p>

<p>
  <strong>Parent booking:</strong>
  <%= @event.booking_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
