<% @equipment = Equipment.all.includes(:tags) %>
<div class="sidebar cell">
  <div class="bar">
    <div class="tabs">
      <a data-target=".info-list" class="tab active" href="#">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
      <a data-target=".tag-list, .tag-search" class="tab" href="#">
        <i class="fas fa-tags"></i>
        <span>Tags</span>
      </a>
      <a data-target=".user-list, .user-search" class="tab" href="#">
        <i class="fas fa-users"></i>
        <span>Users</span>
      </a>
    </div>

    <div class="search user-search" style="display:none">
      <i class="fas fa-search"></i>
      <i class="fas fa-times"></i>
      <input data-target=".user-list li" class="search" type="text" placeholder="Search users"></input>
    </div>
    <div class="search tag-search">
      <i class="fas fa-search"></i>
      <i class="fas fa-times"></i>
      <input data-target=".tag-list li" class="search" type="text" placeholder="Search tags"></input>
    </div>
  </div>

  <div class="scroll-y tag-list">
    <%= render partial: 'shared/tag_list', locals: {allow_edits: true} %>
  </div>
  <div class="scroll-y info-list" style="display:none">

    <% 
      # Create a dummy event to check current open/closed Status
      e = Event.new
      d = DateTime.now
      e.start = e.end = d
      current_status = e.valid_open_close? ? "Open" : "Closed"
    %>
    <div class="info-list-category">
      <h3 class="info-list-category-label">Status</h3>
      <div class="info-list-content">
        <ul class="list">
          <% if current_status == "Open" %>
            <li class="open-status open">Current Status: <%= current_status %></li>
          <% else %>
            <li class="open-status closed">Current Status: <%= current_status %></li>
          <% end %>
          <% to_approve = Booking.where(:approval_status => 0).count %>
          <% if to_approve > 0 %>
            <li class="bookings-to-approve yes"><%= link_to 'Bookings to approve: ' + Booking.where(:approval_status => 0).count.to_s , approvals_path %></li>
          <% else %>
            <li class="bookings-to-approve no">No bookings to approve</li>
          <% end %>
        </ul>
      </div>
    </div>
    

    
    <div class="info-list-category">
      <% upcoming = find_upcoming_events(DateTime.now, 3) %>
      <h3 class="info-list-category-label">Upcoming Bookings</h3>
      <% if upcoming.length > 0 %>
        <div class="info-list-content">
          <ul class=" list">
            <% for e in upcoming[0..4] %>
              <li onclick="showMoreBookingInfo([<%= e.booking_id %>])">
                <span class="right"><%= e.start.localtime.strftime("%b %-d, %Y %I:%M %p") %></span>
                  <% if e.booking.user.nil? %>
                      Unknown User
                  <% else %>
                      <%= e.booking.user.username %>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <%else %>
        <span class="info-list-content">
          There are no upcoming bookings.
        </span>
      <% end %>
    </div>
    <div class="info-list-category">
      <% returns = find_upcoming_returns() %>
      <h3 class="info-list-category-label">Upcoming Returns</h3>

      <% if returns.length > 0 %>
        <div class="info-list-content">
          <ul class=" list">
            <% for e in returns[0..4] %>
              <li onclick="showMoreBookingInfo([<%= e.booking_id %>])" >
                <span class="right"><%= e.end.localtime.strftime("%b %-d, %Y %I:%M %p") %></span>
                  <% if e.booking.user.nil? %>
                      Unknown User
                  <% else %>
                      <%= e.booking.user.username %>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <%else %>
        <span class="info-list-content">
          There are no upcoming returns.
        </span>
      <% end %>
    </div>
    <div class="info-list-category">
      <% overdue = get_overdue_items() %>
      <h3 class="info-list-category-label">Overdue Bookings</h3>

      <% if overdue.length > 0 %>
        <div class="info-list-content">
          <ul class="list">
            <% for e in overdue %>
              <li onclick="showMoreBookingInfo([<%= e.booking_id %>])">
                <span class="right"><%= e.end.localtime.strftime("%b %-d, %Y %I:%M %p") %></span>
                  <% if e.booking.user.nil? %>
                      Unknown User
                  <% else %>
                      <%= e.booking.user.username %>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <%else %>
        <span class="info-list-content">
          There are no upcoming overdue.
        </span>
      <% end %>
    </div>

    

    <div class='info-list-category'>
      <h3 class="info-list-category-label">Administrator Tasks</h3>
      <div class="info-list-content">
        <ul class="list">
          <li onclick="createTagForm(-1);">Add Tags</a></li>
          <li onclick="createEquipmentForm(-1);">Add Equipment</li>
          <li onclick="createUserForm(-1);">Add Users</li>
          <li><%= link_to 'Edit settings', settings_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="scroll-y user-list" style="display:none">
    <%= render 'users/list' %>
  </div>
</div>

<div class="main cell">
  <div class="bar">
    <div class="tabs">
      <a data-target=".calendar, .calendar-search" class="tab active" href="#">
        <i class="fas fa-calendar-alt"></i>
        <span>Calendar</span>
      </a>
      <a data-target=".equipment-list, .equipment-search" class="tab" href="#">
        <i class="fas fa-wrench"></i>
        <span>Equipment</span>
      </a>
      <div class="tab right logout-button">
        <%= link_to auth_logout_path do %>
          <i class="fas fa-sign-out-alt"></i>
          <span>Log out <%= session[:current_username] %> </span>
        <% end %>
      </div>
    </div>

    <div class="search equipment-search">
      <i class="fas fa-search"></i>
      <i class="fas fa-times"></i>
      <input id="main_equipment_search" data-target=".equipment-list tr" class="search" type="text" placeholder="Search equipment"></input>
    </div>
  </div>

  <div class="filters-container">
    <ul class="filters tags">
    </ul>
  </div>

  <div class="scroll-y calendar" style="display:none">
    <%= render partial: 'bookings/calendar' %>
  </div>
  <div class="scroll-y equipment-list">
    <%= render partial: 'equipment/list', locals: {equipment_list: @equipment} %>
  </div>
</div>

<div class="booking cell" style="display:none">
</div>

<div class="add-tags cell" style="display:none">
</div>

<div class="add-equipment cell" style="display:none">
</div>

<div class="add-users cell" style="display:none">
</div>
