<% @user = User.find_by(:username => session[:current_username]) %>
<div class="ss-history-container">
    <%= render partial: 'shared/self_serve_header' %>
    <h6>Booking History for <%= session[:current_username] %></h6>
    <div class="self-serve-history">
    <% @user.bookings.reverse.each do |booking| %>
        <%= render partial: 'bookings/summary_row', locals: {booking: booking, view: 'history'} %></li>
    <% end %>
    </div>
</div>