<%= form_for(@tag) do |f| %>
  <div class="row">
    <div class="col">

      <div class="mb-3">
        <label for="name">Name</label>
        <%= f.text_field :name, 
          :class => 'form-control',
          :placeholder => 'Enter a name for the tag',
          :id => 'name'
        %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @tag.new_record? %>
        <%= button_tag(type: 'submit', id: "submittag", class: "btn btn-primary") do %>
          Create
        <% end %>
        <%= link_to 'Cancel', tags_path, method: :get, class: "btn btn-secondary" %>
      <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Update
        <% end %>
        <%= link_to 'Delete', @tag, confirm: 'Are you sure? This cannot be undone.', method: :delete, :class => 'btn btn-danger' %>
        <%= link_to 'Cancel', @tag, method: :get, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
<% end %>
