<%= vite_client_tag %>
<%= vite_javascript_tag "tag_list" %>
<main id="tag_list">
  <h2>Tag List</h2>

  <!-- filters -->
  <div class="row equipment-toolbar">
    <div class="col">
      <form action="./tags" method="get">
        <div class="btn-toolbar" role="toolbar">
          <div class="input-group">
            <%= text_field_tag "search", 
              params[:search], 
              class: "form-control", 
              id: "search_all", 
              placeholder: "Tag name" 
            %>

            <button class="btn btn-primary me-2" 
              type="submit" 
              id="applySearchFilters">
              Search
            </button>

          </div>
          <button class="btn btn-secondary me-2" id="clearSearchFilters">
            Clear
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <ul class="list-group">
        <% @tags.each do |tag| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <%= tag.name %>
              </div>
              <div class="col-6">
                <%= tag.equipment.length %> Resources
              </div>
              <div class="col-3">
                <span class="btn-group">
                  <%= button_to tag, method: :get, class: "btn btn-outline-secondary"   do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <%= button_to edit_tag_path(tag), method: :get, class: "btn btn-outline-secondary"  do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= button_to tag, confirm: 'Are you sure?', method: :delete, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="flickr_pagination">
      <%= will_paginate @tags %>
    </div>
  </div>
</main>
