<div class="row mt-3">
  <div class="col">
    <div class="card">
      <div class="card-header">Tag Details</div>
      <div class="card-body">
        <p>
          <b>Name:</b>
          <%= @tag.name %>
        </p>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_tag_path(@tag) %> |
        <%= link_to 'Back to Tags List', tags_path %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">Tagged Resources</div>
      <div class="card-body">
        <ul class="list-group">
          <!-- limit list of equipment to 10 items -->
          <% if @tag.equipment.length <= 10 %>
            <% @tag.equipment.each do |equip| %>
              <li class="list-group-item"><%= equip.name %></li>
            <% end %>
          <% else %>
            <% @tag.equipment.limit(10).each do |equip| %>
              <li class="list-group-item"><%= equip.name %></li>
            <% end %>
            <li class="list-group-item"></li>
            <%
              num_more = @tag.equipment.length - 10
              num_more_label = num_more.to_s + " more..."
            %>
            <%= link_to num_more_label, equipment_index_path(:tag_ids => @tag.id) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


</div>