<template>
  <div>
    <form @submit="submitForm">
      <div class="row mt-3">
        <div class="col">
          <h2 v-if="editing_booking">Edit Reservation</h2>
          <h2 v-else>Create a Reservation</h2>
        </div>
        <div class="col">
          <button v-if="editing_booking" :disabled="!(times_ok && booked_resources.length > 0 && form.userid != '' && ban_user == false && editsEnabledSelfServe)" type="submit" class="btn btn-primary me-3 float-end">Update</button>
          <button v-if="editing_booking" type="button" @click="deleteBooking" :disabled="!(form.userid != '' && ban_user == false)" class="btn btn-danger me-3 float-end">Delete</button>
          <button v-else :disabled="!(times_ok && booked_resources.length > 0 && form.userid != '' && ban_user == false)" type="submit" class="btn btn-primary me-3 float-end">Save</button>
          <a :href="'bookings/' + form.booking_id" class="btn btn-secondary float-end me-3">Cancel</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-header" id="instructionHeader">
              <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#instructionContent">Instructions (click to expand)</button>
            </div>
            <div id="instructionContent" class="collapse">
              <div class="card-body">
                  <ul>
                    <li>Use the controls in the Resource Search section to find resources to reserve.</li>
                    <li>Specify a username and schedule for the reservation in the Reservation Details section.</li>
                  </ul>
                 <p>
                   Tips:
                 </p>
                  <ul>
                    <li>Once you have specified dates and times, click the "Limit to available resources" checkbox to only show resources available at your specified times.</li>
                    <li>Change the value of the "Show" dropdown to see more items</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <!-- LEFT COLUMN (resources) -->
        <div class="col-7">
          <div class="card mb-3">
            <div class="card-header">
              Resource Search
            </div>
            <div class="card-body">
              <div class="col">
                <div class="row mb-3" id="resource_selector">
                  <div class="col-6">
                    <v-select multiple v-model="chosen_tags" @update:modelValue="fetchResources" placeholder="Filter by tags" :options="all_tags" label="name" :reduce="tag => tag.id"></v-select>
                  </div>
                  <div class="col-6">
                    <input id="searchTerm" class="form-control" @input="fetchResources" type="text" v-model="search_term" placeholder="Filter by search" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-9">
                    <input @change="fetchResources" type="checkbox" id="limit_availability" v-model="limit_availability">
                    <label for="limit_availability">Limit to available resources</label>
                  </div>
                  <div class="col-3">
                    Show: 
                    <select @change="fetchResources" v-model="num_results">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="all">All</option>
                    </select>
                  </div>
                </div>
                <small>Showing {{ Math.min(num_results, resource_count) }} of {{ resource_count }}</small>
                <div v-if="filtered_resources.length == 0" class="list-group result-list">
                  <a class="list-group-item list-group-item-action disabled">
                    <p>No resources meet these criteria</p>
                    <small>Adjust the filters above to find resources to reserve</small>
                  </a>
                </div>
                <div v-else class="list-group result-list">
                  <div :key="resource.id"  @click="moveToBookedList" :id="resource.id" class="list-group-item list-group-item-action" v-for="resource in filtered_resources">
                    <i class="fas fa-plus-circle"></i>
                    {{resource.name}}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- RIGHT COLUMN (User, schedule, booked resources) -->
        <div class="col-5">
          <!-- USER -->
          <div class="card mb-3">
            <div class="card-header">
              Reservation Details
            </div>
            <div class="card-body">
              <!-- USER -->
              <h6>User</h6>
              <div>
                <v-select 
                  :disabled="form.self_serve"
                  label="username"
                  @search="fetchUserOptions"
                  :options="user_search_results"
                  placeholder="Search By Username"
                  @update:modelValue="userSelected"
                  v-model="selected_user_details">
                    <template slot="no-options">
                      Start typing a username to search...
                    </template>
                    <template slot="option" slot-scope="option">
                      <div class="row user-item">
                        <div class="col">
                          <div class="username">
                            {{ option.username }}
                          </div>
                        </div>
                        <div class="col">
                          <div v-if="option.status == 1" class="user-status float-end">
                            <i class="fas fa-exclamation-triangle"></i>
                          </div>
                          <div v-if="option.status == 2" class="user-status float-end">
                            <i class="fas fa-ban"></i>
                          </div>
                        </div>
                      </div>
                      <div class="row user-ou">
                        {{ option.ou }}
                      </div>
                    </template> 
                </v-select>
                <div class="alert alert-warning" v-if="new_user">
                  User does not currently exist in the booking system, but will be added.
                </div>
                <div class="alert alert-warning" v-if="warn_user">
                  User is greylisted with the following comments: {{selected_user_details.comments}}
                </div>
                <div class="alert alert-danger" v-if="ban_user">
                  User is blacklisted with the following comments: {{selected_user_details.comments}}
                </div>
              </div>

              <!-- SCHEDULE -->
              <h6 class="mt-3">Schedule</h6>
              <div class="row mb-3">
                <div class="col-3 field-prefix">From</div>
                <div class="col-9">
                  <input type="date" id="start_date" v-model="form.start_date" @input="handleStartDateTimeChange" class="form-control" />
                  <input type="time" id="start_time" v-model="form.start_time" @input="handleStartDateTimeChange" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="col-3 field-prefix">To</div>
                <div class="col-9">
                  <input type="date" id="end_date" v-model="form.end_date" @input="handleDateTimeChange" class="form-control" />
                  <input type="time" id="end_time" v-model="form.end_time" @input="handleDateTimeChange" class="form-control" />
                </div>
              </div>

              <input type="checkbox" id="weekly_repeat" v-model="form.weekly_repeat">
              <label for="weekly_repeat">This booking repeats</label>
              <div v-if="form.weekly_repeat">
                Repeat for 
                <select id="num_weeks" v-model="form.num_weeks">
                  <option v-for="n in max_weeks" :key="n" :value="n">{{n}} weeks</option>
                </select>
              </div>

              <!-- RESOURCES -->
              <h6 class="mt-3">Resources</h6>
              <div class="form-group">
                <div v-if="booked_resources.length == 0" class="list-group" id="resource_list">
                  <a class="list-group-item list-group-item-action disabled">
                    <p>No resources booked. </p>
                    <small>Choose resources below to add them to the booking.</small>
                  </a>
                </div>
                <div v-else class="list-group" id="resource_list">
                  <div :key="resource.id" @click="moveToFilteredList(resource.id)" :id="resource.id" class="list-group-item list-group-item-action" v-for="resource in booked_resources">
                    <i class="fas fa-minus-circle"></i>
                    {{resource.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row mt-3">
        <!-- LEFT COLUMN (calendar) -->
        <div class="col" v-if="form.self_serve == false">
          <div class="card">
            <div class="card-header" id="collapseCalendar">
              <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#calendarWidget">
                Toggle calendar
              </button>
            </div>
            <div class="collapse show" id="calendarWidget">
              <div class="card-body">
                <Calendar v-bind:startDate="form.start_date_time" v-bind:embedView="true" />
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select';
// import { Datetime } from 'vue-datetime';
import moment from 'moment';
import Swal from 'sweetalert2';
import { DateTime } from 'luxon';
import Calendar from '../calendar/Calendar.vue';

// Vue.component('font-awesome-icon', FontAwesomeIcon);

export default {
  name: 'BookingForm',
  components: {
    vSelect,
    // Datetime,
    Calendar
  },
  data () {
    return {
      editing_booking: false,
      all_resources: [],
      all_tags: [],
      resource_count: 0,
      filtered_resources: [],
      booked_resources: [],
      user_search_results: [],
      selected_user_details: [],
      num_results: "10",
      limit_availability: false,
      search_term: "",
      chosen_tags: [],
      times_ok: true,
      max_weeks: 12,
      new_user: false,
      warn_user: false,
      ban_user: false,
      form: {
        booking_id: '',
        userid: '',
        // start_date_time: moment().format(),
        // end_date_time: moment().format(),
        start_date: null,
        end_date: null,
        start_time: null,
        end_time: null,
        weekly_repeat: false,
        num_weeks: 1,
        self_serve: false
      }
    }
  },
  mounted() {
  
    var self = this;

    // don't allow enter on search box to submit form
    document.getElementById("searchTerm").onkeydown = function(e) {
      if (e.code === "Enter") {
        e.preventDefault()
      }
    }

    // self.url_root = window.location.origin +"/" + window.location.pathname.split("/")[1];
    axios.get(`./tags.json`,{
      params: {
        per_page: "all"
      }
    })
    .then(function(response){
      self.all_tags = response.data
    });

    // if this is self serve, set value accordingly
    let self_id_el = document.getElementById("booking_self_serve");
    if (self_id_el != ""){
      let self_val = self_id_el.value;
      self.form.self_serve = self_val == "true" ? true : false;

      // if self serve, force user to logged in user and disable that part of the form
      if (self.form.self_serve){
        let logged_in_user_el = document.getElementById("logged_in_user");
        if (logged_in_user_el != ""){
          self.form.userid = logged_in_user_el.value;
          self.selectUser(self.form.userid)
        }
      }
    }

    // Create a date object with current date/time
    const currentDate = DateTime.now()

    // populate form with current Date/Time
    self.form.start_date = currentDate.toISODate()
    self.form.end_date = currentDate.toISODate()
    self.form.start_time = currentDate.toLocaleString(DateTime.TIME_24_SIMPLE)
    self.form.end_time = currentDate.toLocaleString(DateTime.TIME_24_SIMPLE)

    // fetch resources (all resources)
    self.fetchResources(true)

    // if this is editing an existing booking, populate the form
    // after fetching details about the booking
    let b_id_el = document.getElementById("booking_id");
    if (b_id_el.value != "") {
      let b_id = b_id_el.value;
      self.editing_booking = true;
      self.form.booking_id = b_id;
      
      axios.get(`./bookings/${self.form.booking_id}.json`)
      .then(function(response){
        console.log(response.data.events[0])
        self.selected_user_details = response.data.user;
        self.form.userid = response.data.user.username;
        self.form.start_date_time = response.data.events[0].start
        const start_dt = DateTime.fromISO(response.data.events[0].start)
        const end_dt = DateTime.fromISO(response.data.events[0].end)
        self.form.start_date = start_dt.toISODate()
        self.form.start_time = start_dt.toLocaleString(DateTime.TIME_24_SIMPLE)
        self.form.end_date = end_dt.toISODate()
        self.form.end_time = end_dt.toLocaleString(DateTime.TIME_24_SIMPLE)
        self.booked_resources = response.data.equipment;
        if(response.data.schedule == null){
          //non-recurring booking
          self.form.weekly_repeat = false;
          self.form.num_weeks = 1;
        }
        else {
          self.form.weekly_repeat = true;
          self.form.num_weeks = response.data.schedule.length
        }
      })
    }
  },
  computed: {
    editsEnabledSelfServe() {
      let edits_enabled_el = document.getElementById("self_serve_editable");
      let edits_enabled = edits_enabled_el.value
      return (edits_enabled === 'true')
    }
  },
  methods: {
    handleStartDateTimeChange(e){
      // if start date is being set, and its new value is after the end date,
      // set the end date to match the new start date
      // if (moment(this.form.start_date_time).isAfter(moment(this.form.end_date_time))){
      if (this.form.start_date > this.form.end_date) {
        this.form.end_date = this.form.start_date;
      }

      this.handleDateTimeChange(e);
    },
    handleDateTimeChange(e){
      // if all dates/times are filled out, check that start time is before end time and warn the user
      if (this.form.start_date && this.form.end_date && this.form.end_time && this.form.start_time){
        let start_m = moment(this.form.start_date_time)
        let end_m = moment(this.form.end_date_time)
        let start_dt = DateTime.fromISO(`${this.form.start_date}T${this.form.start_time}`)
        let end_dt = DateTime.fromISO(`${this.form.end_date}T${this.form.end_time}`)
        // if (end_m.isBefore(start_m)){
        if (end_dt < start_dt){
          Swal.fire({
            title: 'Something is wrong',
            text: "The start time of your booking must be before the end time",
            icon: 'error',
            toast: true,
            position: 'top'
          })
          this.times_ok = false;
        }
        else {
          this.times_ok = true;
        }
      }
    },
    deleteBooking(e) {
      // handle deletion of the booking

      // don't submit the form over HTML
      e.preventDefault();

      // Get CSRF token
      var token = document.querySelector('meta[name="csrf-token"]').content

      if (this.editing_booking){
        axios.delete(`./bookings/${this.form.booking_id}.json`,{
          data: {
            authenticity_token: token
          }
        })
        .then(function(response) {
            Swal.fire({
            title: 'Booking Deleted Successfully',
            text: 'It worked!',
            icon: 'success',
            toast: true,
            position: 'top'
          })
          window.location.href = `./bookings/`
        })
        .catch(function (error) {
          // format a proper error message
          let error_formatted = "";
          let errors = error.response.data.errors;
          for(var e in errors){
            error_formatted += `Error with ${e}: <br />${errors[e].join(",")}`
          }
          Swal.fire({
            title: 'Error Editing Booking',
            html: error_formatted,
            icon: 'error',
            toast: true,
            position: 'top'
          })
        })
      }
    },
    submitForm(e){
      // don't submit the form over HTML
      e.preventDefault();

      // Get CSRF token
      var token = document.querySelector('meta[name="csrf-token"]').content


      // Get current list of resource ids
      var resource_ids = this.booked_resources.map(r => r.id);

      if (this.editing_booking) {
        //PUT on edit
       axios.put(`./bookings/${this.form.booking_id}.json`,{
          authenticity_token: token,
          booking: {
            id: this.form.booking_id,
            start_date_time: DateTime.fromISO(`${this.form.start_date}T${this.form.start_time}`).toISO(),
            end_date_time: DateTime.fromISO(`${this.form.end_date}T${this.form.end_time}`).toISO(),
            username: this.form.userid,
            equipment: resource_ids,
            weekly_repeat: this.form.weekly_repeat,
            num_weeks: this.form.num_weeks,
          }
        })
        .then(function (response) {
          Swal.fire({
            title: 'Booking Edited Successfully',
            text: 'It worked!',
            icon: 'success',
            toast: true,
            position: 'top'
          })
          window.location.href = `./bookings/${response.data.id}`
        })
        .catch(function (error) {
          // format a proper error message
          let error_formatted = "";
          let errors = error.response.data.errors;
          for(var e in errors){
            error_formatted += `Error with ${e}:<br /> ${errors[e].join(",")}`
          }
          Swal.fire({
            title: 'Error Editing Booking',
            html: error_formatted,
            icon: 'error',
            toast: true,
            position: 'top'
          })
        });
      }
      else {
        // create a POST request to send to the controller
        axios.post(`./bookings.json`,{
          authenticity_token: token,
          booking: {
            id: this.form.booking_id,
            start_date_time: DateTime.fromISO(`${this.form.start_date}T${this.form.start_time}`).toISO(),
            end_date_time: DateTime.fromISO(`${this.form.end_date}T${this.form.end_time}`).toISO(),
            username: this.form.userid,
            equipment: resource_ids,
            weekly_repeat: this.form.weekly_repeat,
            num_weeks: this.form.num_weeks,
            self_serve: this.form.self_serve
          }
        })
        .then(function (response) {
          Swal.fire({
            title: 'Booking Created Successfully',
            text: 'It worked!',
            icon: 'success',
            toast: true,
            position: 'top'
          });
          window.location.href = `./bookings/${response.data.id}`
          
        })
        .catch(function (error) {
          // format a proper error message
          let error_formatted = "";
          let errors = error.response.data.errors;
          for(var e in errors){
            error_formatted += `Error with ${e}: <br />${errors[e].join(",")}`
          }
          Swal.fire({
            title: 'Error Creating Booking',
            html: error_formatted,
            icon: 'error',
            toast: true,
            position: 'top'
          })
        });

      }
      

    },
    getResultValue(result) {
      return result.username
    },
    selectUser(user_id){
      // user already exists in booking system
      axios.get(`./users/${user_id}.json`)
      .then(response => {
        this.selected_user_details = response.data
        this.form.userid = response.data.username
        this.new_user = false;
        
        // clear any previous warnings
        this.warn_user = false;
        this.ban_user = false;

        //
        if (response.data.status == 1){
          this.warn_user = true;
        }
        if (response.data.status == 2){
          this.ban_user = true;
        }
      });
    },
    userSelected(value){
      if (value){
        if (value.user_id != -1){
          this.selectUser(value.user_id);
        }
        else {
          // user does not already exist in booking system
          this.new_user = true;
          this.form.userid = value.username;
        }
      }
    },
    fetchUserOptions(search, loading){
      console.log(search)
      if (search.length >= 3){
        axios.get(`./users/ldap_search?username=${search}`)
        .then(response => {
          this.user_search_results = response.data
        });
      }
    },
    moveToBookedList(value){
      // use the id of the clicked li to find the resource in the
      // component's data, then move it from the filtered_resources
      // to the booked_resources
      let clicked_id = event.currentTarget.id;
      let clicked_obj = this.filtered_resources.find(res => res.id == clicked_id);

      // add the clicked object to the booked_resources list
      this.booked_resources.push(clicked_obj);

      // fitler the clicked object out of the filtered_resources list
      this.filtered_resources = this.filtered_resources.filter(res => res.id != clicked_id);

    },
    moveToFilteredList(resourceID){
      // use the id of the clicked li to find the resource in the
      // component's data, then move it from the booked_resources
      // to the filtered_resources
      // let clicked_id = event.currentTarget.id;
      let clicked_id = resourceID;
      let clicked_obj = this.booked_resources.find(res => res.id == clicked_id);

      // reset the filtered list by fetching again
      this.fetchResources();

      // filter the clicked object out of the booked_resources list
      this.booked_resources = this.booked_resources.filter(res => res.id != resourceID);


    },
    customFilter(option, label, search){
      let temp = search.toLowerCase();
      return option.name.toLowerCase().indexOf(temp) > -1 ||
              option.barcode.toLowerCase().indexOf(temp) > -1
    },
    resourceById(id){
      return this.all_resources.find(resource => resource.id==id).name;
    },

    fetchResources(all_resources){
      // handle search term
      let search_param = "";
      if (this.search_term.length >= 3) {
        search_param += `search_term=${this.search_term}&`;
      }

      // handle tags
      let tag_list = "";
      // if there are no tags selected, reset list to empty
      if (this.chosen_tags.length == 0){
        this.filtered_resources = [];
      }
      // if there are tags selected
      else {
        this.chosen_tags.forEach((item, index) => {
          tag_list += `tag_ids[]=${item}&`
        });
      }

      // handle availability
      let date_time_filter = "";
      let start_date_time_avail = DateTime.fromISO(`${this.form.start_date}T${this.form.start_time}`).toISO()
      let end_date_time_avail = DateTime.fromISO(`${this.form.end_date}T${this.form.end_time}`).toISO()
      if (this.limit_availability){
        date_time_filter += `start_date_time=${start_date_time_avail}&end_date_time=${end_date_time_avail}&`;
      }

      //exclude resources already booked
      let exclude_filter = "";
      if (this.booked_resources.length > 0){
        this.booked_resources.forEach((item,index) => {
          exclude_filter += `exclude_ids[]=${item.id}&`
        })
      }

      // only run a search if at least one filter is specified or all_resources is true
      if (date_time_filter || tag_list || search_param || all_resources){
        // combine filters and request update
        let fetch_url = `./equipment.json?${date_time_filter}${tag_list}${search_param}&per_page=${this.num_results}`
        if (exclude_filter){
          fetch_url += exclude_filter
        }

        axios.get(fetch_url)
          .then(response => {
            console.log(response)
            this.resource_count = parseInt(response.headers.resultcount);
            this.filtered_resources = response.data;
          });
      }
    }
  }
}
</script>

<style lang="css">

.form-group > .list-group {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.user-chooser .vs__dropdown-bg {
  background-color: 'red';
}

.time-label {
  font-size: 0.8em;
}

.user-item {
  border-top: 1px solid #eee;
  background: transparent;
}

.username {
  font-size: 1em;
}

.user-ou {
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.54);
}

.result-list {
  overflow-y:scroll;
  max-height: 300px;
}



@media (min-width: 576px){
  .form-group > .list-group {
    font-size: 0.6em;
  }

  .field-prefix {
    font-size: 0.6em;
  }
}
@media (min-width: 768px){
  .form-group > .list-group {
    font-size: 0.7em;
  }

  .field-prefix {
    font-size: 0.7em;
  }
}
@media (min-width: 992px){
  .form-group > .list-group {
    font-size: 0.8em;
  }

  .field-prefix {
    font-size: 0.8em;
  }
}
@media (min-width: 1200px){
  .form-group > .list-group {
    font-size: 1em;
  }

  .field-prefix {
    font-size: 1em;
  }
}

</style>