import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';

  // render tag selector
  Vue.component('v-select', vSelect);

  Vue.component('tag-selector',{
    data() {
      return{
        tag_list: []
      }
    },
    mounted() {
      var self = this;
      axios.get("/tags.json")
      .then(function(response){
        self.tag_list = response.data
      });
    },
    template: `
      <div class="form-group col-6">
        <v-select 
          multiple 
          placeholder="Filter by tags" 
          :options="tag_list" 
          label="name" 
          :reduce="tag => tag.id"
        >
        </v-select>
      </div>
    `
  });

  new Vue({
    el: '#tag_selector'
  })