<div class="form-row mt-3">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Dates/Times</div>
          <div class="card-body">
            <div>
              <strong>Valid from:</strong>
              <%= @open_hour.valid_from %><br />
              <strong>Valid until:</strong>
              <%= @open_hour.valid_until %><br />
              <strong>Start Time:</strong>
              <%= @open_hour.start_time.localtime.strftime('%l:%M %p') %><br />
              <strong>End Time:</strong>
              <%= @open_hour.end_time.localtime.strftime('%l:%M %p') %><br />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Days</div>
          <div class="card-body">
            <div>
              <strong>Sunday:</strong>
              <%= @open_hour.sunday %><br />
              <strong>Monday:</strong>
              <%= @open_hour.monday %><br />
              <strong>Tuesday:</strong>
              <%= @open_hour.tuesday %><br />
              <strong>Wednesday:</strong>
              <%= @open_hour.wednesday %><br />
              <strong>Thursday:</strong>
              <%= @open_hour.thursday %><br />
              <strong>Friday:</strong>
              <%= @open_hour.friday %><br />
              <strong>Saturday:</strong>
              <%= @open_hour.saturday %><br />
            </div>
          </div>
        </div>
      </div>
    </div>
<%= link_to 'Edit', edit_open_hour_path(@open_hour) %> |
<%= link_to 'Back', open_hours_path %>
