<%= vite_client_tag %>
<%= vite_javascript_tag "closed_hour" %>

<div id="closed_hour_form">
  <%= form_for(@closed_hour) do |f| %>
    <% if @closed_hour.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@closed_hour.errors.count, "error") %> prohibited this closed_hour from being saved:</h2>

        <ul>
        <% @closed_hour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row mb-3">
      <div class="col">
        <div class="card">
          <div class="card-header">Dates/Times</div>
          <div class="card-body">
            <div id="closed_hour_dates_times">
              <%
                csd_val = @closed_hour.closed_start.nil? ? DateTime.now.strftime("%Y-%m-%d") : @closed_hour.closed_start.strftime("%Y-%m-%d")
                cst_val = @closed_hour.closed_start.nil? ? DateTime.now.strftime("%H:%M") : @closed_hour.closed_start.strftime("%H:%M")
                ced_val = @closed_hour.closed_end.nil? ? DateTime.now.strftime("%Y-%m-%d") : @closed_hour.closed_end.strftime("%Y-%m-%d")
                cet_val = @closed_hour.closed_end.nil? ? DateTime.now.strftime("%H:%M") : @closed_hour.closed_end.strftime("%H:%M")
              %>
              <%= f.label 'Start of range' %><br>
              <input type="date" name="closed_hour_start_date" value=<%= csd_val %>>
              <input type="time" name="closed_hour_start_time" value=<%= cst_val %>><br />
              <%= f.label 'End of range' %><br>
              <input type="date" name="closed_hour_end_date" value=<%= ced_val %>>
              <input type="time" name="closed_hour_end_time" value=<%= cet_val %>>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>